{% load static%} 
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <style>
      .error{
        color:red;
      }
    </style>
  </head>
  <body>
   <h2>Login</h2>
    <form  method = "POST" action ="{% url 'login' %}">
        {% csrf_token %}
        <input type ="hidden" name = "next" value = value="{{ request.GET.next|default:'' }}">
        <div class = "form-group">
          <label for ="username">Username:</label>
          <input type="text" name = "username" id = "username" required>
        </div>

         
        <div class = "form-group">
          <label for ="passowrd">Password:</label>
          <input type="password" name = "password" is = "password" required>
        </div>
        <button type = "submit">Login</button>

      
      </form>
      {% comment %}error message {% endcomment %}
      {% if error %}
      <p class = "error">{{ error }}</p>
      {% endif %}
      <p> Don't have an account? <a href = "{% url 'register' %}"> Register here </a>  </p>

  
    <script src="" async defer></script>
  </body>
</html>